[submodule "themes/linkita"]
	path = themes/linkita
	url = https://codeberg.org/salif/linkita.git
	branch = v4
[submodule "themes/Zulma"]
	path = themes/Zulma
	url = https://github.com/Banhang-Chogao/Zulma.git
