{% extends "base.html" %}
{% import "macros/references.html" as references %}

{% block title %}{{ page.title }} | {{ config.title }}{% endblock %}

{% block main %}
    <header class="section-header">
        <h1 class="section-header__title">{{ page.title | upper }}</h1>
    </header>

    <article class="post-single">
        <div class="post-single__content">
            {{ page.content | safe }}
        </div>
        {{ references::section(page=page) }}
    </article>
{% endblock main %}

{% block sidebar %}{% endblock %}
