{% extends "zsdna_base.html" %}
{% block page_title %}{{ taxonomy.name | capitalize }} | {{ config.title }}{% endblock page_title %}
{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title is-2">{% if taxonomy.name == "categories" %}Chuyên mục{% elif taxonomy.name == "tags" %}Thẻ{% else %}{{ taxonomy.name | capitalize }}{% endif %}</h1>
    <div class="tags are-medium" style="margin-top:1rem;">
      {% for term in terms %}
        <a class="tag is-primary is-light" href="{{ term.permalink | safe }}">{{ term.name }} <span class="has-text-grey" style="margin-left:.35rem;">{{ term.pages | length }}</span></a>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}
