<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}">
        <meta name="author" content="{{ config.extra.author }}">
        <title>{% block title %}{{ config.title }}{% endblock title %}</title>
        <link rel="stylesheet" href="{{ get_url(path='site.css') }}">
    </head>
    <body>

        <header>
            <a class="header__logo white" href="{{ config.base_url }}">Zola</a>
            <nav>
                <ul>
                    <li><a class="white" href="{{ get_url(path='@/blog/_index.md') }}">Bài viết</a></li>
                    <li><a class="white" href="{{ get_url(path='@/huong-dan/_index.md') }}">Hướng dẫn</a></li>
                    <li><a class="white external" href="https://github.com/Banhang-Chogao/zola">GitHub</a></li>
                </ul>
            </nav>
        </header>

        <div class="content content--reversed">
            {% block content %}
                {% set root = get_section(path="_index.md") %}
                <div class="documentation">
                    <aside class="documentation__sidebar">
                        <ul>
                            {% for path in root.subsections %}
                                {% set subsection = get_section(path=path) %}
                                <li>
                                    <span class="documentation__sidebar__title">{{ subsection.title }}</span>
                                    <ul>
                                        {% for page in subsection.pages %}
                                            <li class="{% if current_path == page.path %}active{% endif %}">
                                                <a href="{{ page.permalink }}">{{ page.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </aside>
                    <div class="documentation__content">
                        {% block doc_content %}
                            {{ root.content | safe }}
                        {% endblock doc_content %}
                    </div>
                </div>
            {% endblock content %}
        </div>

        <footer>
            ©2026 — <a href="https://github.com/Banhang-Chogao/zola">Banhang Chogao</a> và các cộng tác viên
        </footer>

    </body>
</html>
